/*general reset and font */
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: o;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}
header{
    background-color: #002e5d;
    color: white;
    padding-right: 1rem 0;
    text-align: center;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
main{
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
}
main img{
    width: 150px;
    height: auto;
    display: block;
    margin: 10px;
    border-radius: 8px;
}
main h2{
    text-align: left;
    color: #002e5d;
    margin-bottom: 10px;
    text-decoration: underline;
}
h2{
    text-align: center;
    color: #002e5d;
    margin-bottom: 10px;
    text-decoration: underline;
}
aside{
    width: 80%;
    margin: 30px auto;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f5f8fa;
    color: #002e5d;
    border-radius: 8px;
}
aside img{
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}
p{
    padding: 0;
}
footer{
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    color: #002e5d;
}